*{
    box-sizing: border-box;
}

html{
    font-family: Ubuntu ,sans-serif;
}

body{
    background: black;
    color: white;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(../img/akalanka.image1.png);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}